.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 1rem auto;  
  max-width: 100%;
}

.center-column > header {
  max-width: 400px;
}

.center-column > header > * {
  margin: 0;
}

html {
  background-color: #699;
}

.picture {
  width: 400px;
  height: 400px;
}


@media screen and (width <= 768px) {
  .picture {
    width: 250px;
    height: 250px;
  }

  .center-column > header {
    max-width: 250px;
  }
}
